[2021-01-04 15:48] sandro-berchier opened #2 "Error in retrieving local authorization token"
Hi leikoilja -

first of all - thanks a lot for putting this together!

I'm able to retrieve Master and Access token.
Unfortunately I have struggled with retrieving the local authorization key.

Do you understand the error below?
If so how can I fix?

Really appreciate your help!

Best,
Sandro

[code]

[2021-01-08 08:15] leikoilja commented on #2
Hey, @sandro-berchier. Thanks for opening the issue, I was able to replicate the error just now and it seems the problem is with protobuf(https://github.com/grpc/grpc/issues/14847). I will take a closer look at this soon and get back to you

[2021-01-08 08:48] #2 closed

[2021-01-09 15:54] sandro-berchier commented on #2
Hi @leikoilja  - it worked - thank you very much! Super helpful!

Have a great weekend :)

[2021-01-19 08:43] leikoilja opened #3 "Implement access token error handling"
**Is your feature request related to a problem? Please describe.**
The access token is changed every ~1h. It is currently stored locally. So if the client hangs for a few hours locally storred access token will not be valid anymore

**Describe the solution you'd like**
Implement error handling when the access token is incorrect to retry by the first refreshing access token using master token.

[2021-01-19 16:22] leikoilja opened #4 "Remove jq dependancy"
**Describe the bug**
`jq` is nice, but an overkill as a dependancy. Also, it makes building wheels fail when submitting `ha-glocaltokens` repo to HACS. See https://github.com/home-assistant/wheels-custom-integrations/pull/251/checks?check_run_id=1728807307

**Expected behavior**
DIsplay fetched data using custom declared fields of what to show

[2021-02-02 19:43] DurgNomis-drol opened #6 "Arm and grpcio, grpcio-tools and jq"
**Describe the bug**
I have been trying to make an custom component that generate sensors form timers and alarms, a little different then the custom component you have made. But i ran into this problem with the docker version of homeassistant, because it runs on an alpine image, grpcio and grpcio-tools dosent install corretly if you dont install them manually in the docker image, and add "apk add

[2021-02-03 10:11] leikoilja commented on #6
Hey, @DurgNomis-drol.
Thanks for raising the issue and PR. I have got stuck in the same problem with `grpcio` and `grpcio-tools` not working correctly on `arm`, that hinders me from releasing it as a working component for Home Assistent (WIP repo here: https://github.com/leikoilja/ha-glocaltokens). Let me know what are you working on as a component, maybe we can collaborate and make it work. Haven

[2021-02-03 10:25] #4 closed

[2021-02-03 11:44] DurgNomis-drol commented on #6
Here is what i am working on, [https://github.com/DurgNomis-drol/ha-google_home_local](https://github.com/DurgNomis-drol/ha-google_home_local) i have updated it to use the new version of glocaltokens(0.1.3) and it works.

I think it would be best if we could make only one componet in the end(Better for all users), and i can see you have already done a lot of work on yours to make it pretty and con

[2021-02-03 11:59] leikoilja commented on #6
I think it would be great if we would merge those two repos into one, which is better taken care of by more ppl(seems like there are at least two of us interested in this now).

Unfortunately, I don't have much time to look into that this week due to my day job, but will be able to spend some time from next week onwards.
If you feel for a merge, I am very much open for PRs to merge the work togeth

[2021-02-03 15:01] DurgNomis-drol commented on #6
Im open for a merge into your integration. If you make me a maintainer, i will start duplicating each sensor in ha-glocaltokens.

I have created an delete service. Unfortunately there is not a create/add possibility

But i have another strange problem with gpsoauth. When i run a simpel script to retrieve devices from my username and app-password google devices it works fine. But if i try the using

[2021-02-04 16:18] leikoilja commented on #6
Sorry, @DurgNomis-drol, I start losing track of our conversations.
Will keep this issue open for now to see if the pinning of `grpcio` will fit the wheel building in HA images.
Please open a new issue in https://github.com/leikoilja/ha-glocaltokens if the authentication fails for you, so we could take it from there.
Also, I will add a bit of info about the contribution to https://github.com/leikoi

[2021-02-04 16:35] DurgNomis-drol opened #7 "Strange bug with requests version 2.23 larger then"
**Describe the bug**
A bug were gpsoauth does not work with requests versions larger then. If you downgrade to 2.23 and then upgrade again to the newest version. it then works.

See here: [gpsoauth](https://github.com/simon-weber/gpsoauth/issues/24)

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

**Smartphone (please complete the

[2021-02-04 16:39] DurgNomis-drol commented on #6
Sorry, i have made a separate bug report for that issue.

I have made good progress merging my code into your integration, but there are a couple of things that we have to finde af way to handle. I will be uploading my version of this so that you can test it and vi can discuss what and how each thing is best implemented in the final version.

[2021-02-04 16:43] leikoilja commented on #6
Sounds great! I suggest you create a fork of `ha-glocaltokens`and create there a new branch for your merge with all the proposed changes. Then we can work on that nicely to integrate both things together, keeping the communication within github, close to the source

[2021-02-04 20:18] DurgNomis-drol commented on #6
Sure, i will do that. I'm probably gonna take a little break from it, so I will do it in a couple of days

My suggestion would be to add each feature/bug as you have done in your projects, so we can keep track of everything separately.

[2021-02-06 14:12] DurgNomis-drol commented on #7
Author of gpsoauth has updated it's dependencies to only allow urllibs3 lower then 1.25.11. There are a but in newer versions that makes google refuse requests to it's servers. It seems to be a problem that exists on Google's side.

See: [Here](https://github.com/urllib3/urllib3/issues/2101)

[2021-02-06 14:27] #7 closed

[2021-02-07 14:29] ArnyminerZ opened #8 "Getting Logged out of my Google Account"
**Describe the bug**
When I use the script, when it's executed I get logged out of the Google Account of my Android phone.

**To Reproduce**
I have developed an [script](https://github.com/ArnyminerZ/HomeAssistant-GoogleHome) for Home Assistant that loads the alarms from my Lenovo Smart Clock, and loads them. When I use the script with the following sensor configuration:
[code]
when it gets execut

[2021-02-09 19:50] ArnyminerZ commented on #3
Check #9, I've added time expiration check, maybe error handling should also be done.

[2021-02-09 19:51] ArnyminerZ commented on #8
Stopped happening with some of my own code modifications. Not sure of what could be the problem, but closing... I guess

[2021-02-09 19:51] #8 closed

[2021-02-09 20:20] DurgNomis-drol commented on #8
I have been experiencing the same type of bug. Pi hole were the problem for me. Some of the libraries that this and other python based scripts/integration/packages rely on. One of these libraries have a problem with authenticating with google servers correctly. It is as of now a problem on googles servers, but a solution have been made to fix it(until google them self fixes there problem), but not

[2021-02-10 09:00] leikoilja commented on #8
Thanks, Simon(@DurgNomis-drol).

@ArnyminerZ, feel free to open PR if some of your code modifications might be helpful for the others

[2021-02-10 09:02] ArnyminerZ commented on #8
Nevermind, my problem wasn't fixed. I think that the error occurs when you try to fetch the master token, but if you store it, it won't log me out.
More testing is required to confirm.

[2021-02-10 09:05] DurgNomis-drol commented on #8
I am having the same problem, and is also trying to fix it right now. I have also suspected it was some thing to do with fetching the master token, but glad i m not only one who have come to that conclusion. Please share you're findings, i will do the same

[2021-02-10 09:47] DurgNomis-drol commented on #8
I think i have found out how to solve the problem. You should only initialize this once, and then call get_google_devices_json() as often as you want to update/get timers or alarms.

`client = GLocalAuthenticationTokens(
  username='<YOUR_GOOGLE_USERNAME>',
  password='<YOUR_GOOGLE_PASSWORD>'
)`

Your code modifications only works if your initialize this one time. Else you will still be hammering

[2021-02-10 12:03] leikoilja opened #11 "Package wheels fails to build because of grpcio, grpcio-tools missing system packages/compilers"
**Describe the bug**
Package fails to build because it relies on wheels for `grpcio`, `grpcio-tools`.

**Expected behavior**
It would be nice to find a solution in-line with current [Home Assistant](https://github.com/home-assistant/core/) version, so the package would work with HA on arm devices too. Preferably without installing any additional system packages/compilers, since not every user will

[2021-02-10 12:04] leikoilja commented on #6
Added another [issue](https://github.com/leikoilja/glocaltokens/issues/11) to keep all the discussion about grpcio there.

[2021-02-10 12:04] #6 closed

[2021-02-10 12:10] leikoilja commented on #8
Great find, @DurgNomis-drol!
We should make sure we have that logic in [ha-glocaltokens](https://github.com/leikoilja/ha-glocaltokens) to avoid disconnection and spamming google services with constant re-authentication

[2021-02-10 12:20] leikoilja opened #12 "Add testing environment and unit tests"
**Is your feature request related to a problem? Please describe.**
Now that the package is slowly growing and more people contributing we need to setup testing environment with unit tests.

**Describe the solution you'd like**
Preferably `tox`

[2021-02-11 06:27] leikoilja opened #14 "Client's get_google_devices_json method returns list"
**Describe the bug**
Method that is described as `json` returns a list of devices.
See https://github.com/leikoilja/glocaltokens/blob/master/glocaltokens/client.py
[code]

**Expected behavior**
We should either return a json or a list. If former, then we should rename the method and announce a breaking change.

[2021-02-11 09:52] ArnyminerZ commented on #14
Implemented it in 7e1cefb and b35a8b5, but not sure why GitHub keeps adding all the commits that I have made, and not just the ones in that branch, will create a new pull request if that's not an issue, but not sure why it's happenning.

[2021-02-11 13:10] leikoilja commented on #14
Oh, that's nice, thanks @ArnyminerZ! Can you please create a new branch on your fork, then apply two of those commits on that branch and make a new pull request for these changes? Please also reference this ticket in the PR! Thanks 💥

[2021-02-12 09:51] ArnyminerZ opened #16 "Add debugging"
**Describe the solution you'd like**
Add more debugging through `logging` so bug searching is easier.

[2021-02-12 09:54] ArnyminerZ opened #17 "Add typing"
**Is your feature request related to a problem? Please describe.**
Modern IDEs use typing to make small errors like typos, or bad types mixing easier with typing. This should be implemented to have a cleaner code, since the variable types would be known.

**Describe the solution you'd like**
Add typing to all the expressions in the library, for example:
[code]

[2021-02-12 14:55] leikoilja commented on #11
Oh, we had the wrong docker image in the `devcontainer` in this repo. It was set to `debian`, so the building of grpcio was failing. I have changed it to `alpine` so it will  correspond to RPi container now. Plus will add a comment from @DurgNomis-drol  to run `apk add gcc g++ linux-headers` before installing the integration to the documentation. Also will keep the `grpcio` version pinned to `grpc

[2021-02-13 09:20] DurgNomis-drol commented on #11
I just tested it and we only need `g++` and `linux-headers` to make it able to build on alpine. `gcc` is installed when you install `g++`.

[2021-02-13 09:29] leikoilja commented on #11
That's great, thank you @DurgNomis-drol. I am testing now with just `linux-headers` on alpine image as well, will see if that can solve it. Either way, as we discussed in https://github.com/leikoilja/ha-glocaltokens/pull/21#issuecomment-778581649 once we know which library/libraries are essential to build `grpcio` wheels I will try opening issue/PR with HA to have those libs included in the HA bui

[2021-02-13 09:34] leikoilja opened #18 "Python 3.9 support"
**Is your feature request related to a problem? Please describe.**
Home Assistant has dropped the support of python 3.7 and now supports only python 3.8/3.9, see https://www.home-assistant.io/blog/2021/02/03/release-20212/

**Describe the solution you'd like**
We need to increase tox version to support python 3.9 and add github action to test python 3.9

[2021-02-13 09:38] leikoilja commented on #17
@ArnyminerZ, thanks for the issue. Do you have an interest to take a lead on this one?

[2021-02-13 09:41] ArnyminerZ commented on #17
I will take it ☺️

[2021-02-13 10:06] #16 closed

[2021-02-14 05:35] leikoilja commented on #12
Closed in #15

[2021-02-14 05:35] #12 closed

[2021-02-14 17:14] leikoilja opened #21 "get_android_id method fails of arm"
**Describe the bug**
The method which generates random android id relies on `from uuid import getnode` that is underlying the hardware address. On amd devices this method return 14 digits number, while on arm 15 digits long number.

**Expected behavior**
We don't really need to rely on `getnode`, we should be able just to randomly generate a consistent length string as an android id

[2021-02-15 12:33] leikoilja opened #23 "Add tests for device json fetching"
**Describe the bug**
Would be great to add a Client test for that one. This method must be quite robust, so it's important we have it covered with tests.

**Expected behavior**
Nice and clean tests to ensure we have got that functionality covered

Blocked by #22

[2021-02-16 05:16] leikoilja commented on #18
Closed in https://github.com/leikoilja/glocaltokens/commit/7a49fbf4ce5c3927d9e2fdba5110a61f33a2ba13

[2021-02-16 05:16] #18 closed

[2021-02-16 05:18] leikoilja commented on #14
Closed in https://github.com/leikoilja/glocaltokens/commit/7b591642990635eb99dbc9e967fa1152d0eeb5bf

[2021-02-16 05:18] #14 closed

[2021-02-16 05:54] leikoilja commented on #3
Thank you, @ArnyminerZ, I think what you have implemented in #9 is amazing and is the first move towards the more robust package. Let's revisit this later if the problem persists.

[2021-02-16 05:54] #3 closed

[2021-02-16 09:42] #21 closed

[2021-02-16 11:36] #17 closed

[2021-02-16 15:56] DurgNomis-drol opened #27 "Warning when not using HA-zeroconf"
**Describe the bug**

`2021-02-16 16:54:24 WARNING (SyncWorker_1) [homeassistant.helpers.frame] Detected integration that attempted to create another Zeroconf instance. Please use the shared Zeroconf via await homeassistant.components.zeroconf.async_get_instance(hass). Please report issue to the custom component author for ha-glocaltokens using this method at custom_components/ha-glocaltokens/api.

[2021-02-16 16:01] leikoilja commented on #27
Yeh, i believe that's what I was thinking of when discussing `zeroconf` in https://github.com/leikoilja/ha-glocaltokens/issues/18#issuecomment-779601977.
@ArnyminerZ, what do you think about it?

[2021-02-16 16:10] DurgNomis-drol opened #28 "Google Nest Mini no IP or Port found"
**Describe the bug**

Does not find an IP or Port for Google Nest Mini

(Igonere my TV)
`2021-02-16 17:07:36 DEBUG (SyncWorker_1) [custom_components.ha-glocaltokens] [{'device_name': 'Simons TV', 'local_auth_token': 'devicetoken', 'google_device': {'ip': None, 'port': None}}, {'device_name': 'Køkken', 'local_auth_token': device-token', 'google_device': {'ip': None, 'port': None}}]`

**Expected beh

[2021-02-16 16:23] DurgNomis-drol commented on #28
Is it possible to use a wildcard for testing? As away to find not support devices?

[2021-02-16 16:37] ArnyminerZ commented on #27
It's still a warning, so at least it's not breaking. Anyway, this should be fixed. Maybe some kind of disabler for `zeroconf` at `glocaltokens` when using HA?

[2021-02-16 16:50] DurgNomis-drol commented on #27
Sounds right to me, but that is over my skill level 😉

[2021-02-17 05:25] leikoilja commented on #28
From what I can see in the `scanner`, `Nest Mini` should be supported (https://github.com/leikoilja/glocaltokens/blob/master/glocaltokens/scanner.py#L11), I am wondering if it might be something with your unicode characters in the name of the device (`Køkken`) that hinders it from being discovered.

I am currently away from my setup where i have a bunch of different Google devices (Google Home min

[2021-02-17 05:31] leikoilja commented on #27
@ArnyminerZ, I was thinking of the same, but I am afraid it might be detecting it through a dependency list like this:
ha-glocaltokens relies on glocaltokens, which in it's requirements has zeroconf. If this stands true, we might not be able to simply disable it.

Thou, checking the warning message again, maybe I am wrong, perhaps it detects zeroconf instance registration and if so, then we can ma

[2021-02-17 08:58] DurgNomis-drol commented on #28
I just checked by changing the name and it gives the same result. Do you know where he got the names from in the list?

No hurry, i will tinker with and see if I get any where

[2021-02-17 10:53] ArnyminerZ commented on #27
Yeah, not sure, haven't seen that warning since `ha-localtokens` is still not working for me 😀
Once I have it working I will start researching about it.

[2021-02-17 11:07] ArnyminerZ commented on #28
I have a Google Nest Mini available at home, so I will do some testing, but I believe it was getting detected.

[2021-02-17 11:13] DurgNomis-drol commented on #27
It wont work until this [Patch](https://github.com/leikoilja/ha-glocaltokens/pull/33) have been merged. Please open an issue over at `ha-glocaltokens`

[2021-02-17 11:16] DurgNomis-drol commented on #28
It does not find an IP for mine, where do you find the name of the device? Do you have a script i can use to test with?

[2021-02-17 11:36] ArnyminerZ commented on #28
This should show all the devices in your network.
[code]

[2021-02-17 12:10] DurgNomis-drol commented on #28
I get the error `TypeError: discover_devices() missing 1 required positional argument: 'models_list'`

[2021-02-17 12:13] DurgNomis-drol commented on #28
Fixed it.

I get this from running:
`from glocaltokens.scanner import discover_devices

print(discover_devices(models_list=[]))`

Returns:
`[<glocaltokens.scanner.GoogleDevice object at 0xb6174990>]`

[2021-02-17 12:23] ArnyminerZ commented on #28
Yeah, that's correct, now you can serialize the results with something like:
[code]

Haven't tested this one, but should work.

[2021-02-17 12:38] DurgNomis-drol commented on #28
For me it returns with this error
`{
Traceback (most recent call last):
  File "test.py", line 6, in <module>
    print("name:" + str(name))
NameError: name 'name' is not defined
`

[2021-02-17 12:51] DurgNomis-drol commented on #28
Something is wrong in the way glocaltokens convert the data retrieved by discover_devices(). I can find and retrieve all the information with that, but glocaltokens v2 does not handle it correctly. Thus when it returns json both ip and port is none.

[2021-02-17 13:02] ArnyminerZ commented on #28
Have you checked that the display name retrieved from `discover_devices` is the same as the one in `get_google_devices`?

[2021-02-17 13:03] DurgNomis-drol commented on #28
Its the same

[2021-02-17 13:14] ArnyminerZ commented on #28
Will do some more testing, not sure why it doesn't work... Right now `discover_devices` is not working on my PC, but it's my computer's issue, because in the server it works. So when I have some free time will see what's wrong. I will assign this issue to me.

[2021-02-17 13:24] DurgNomis-drol commented on #28
When you test, remember to test against my fork. It have been updated with the patch to make it work with glocaltokens v2
[Here](https://github.com/DurgNomis-drol/ha-glocaltokens)

If there is any thing i can do, let me know :smile:

[2021-02-17 15:32] leikoilja commented on #11
From HomeAssistant core [repo](https://github.com/home-assistant/core/blob/6e67b943da09a13409e1a61ec34ed7144e1093c3/script/gen_requirements_all.py)

[2021-02-17 15:35] leikoilja commented on #28
Yay, awesome collaboration, guys! Thanks a lot for taking care of it, @ArnyminerZ 💥

[2021-02-17 15:36] DurgNomis-drol commented on #11
I have no problem building new versions on arm if i add `g++` and `linux-headers` and the install `grpcio` and `grpcio-tools` manually

[2021-02-17 15:47] leikoilja commented on #11
@DurgNomis-drol I believe arm processors goes with different versions as well, like `ARMv7`, `ARMv8` and depending on what processor you have you might not have issues with newest versions of `grpcio`. HA team is probably generalising to cover the most cases

[2021-02-17 21:52] DurgNomis-drol commented on #11
Your probably right, that possible the reason why mine work but others don't. I have an RPI 4B and if i remember correctly, it's ARMv8, vs older ones are ARMv7.

[2021-02-18 16:27] DurgNomis-drol commented on #28
It seems to be a problem with HA. #27 even if it returns a warning it seems that HA blocks zeroconf. [Issue here](https://github.com/leikoilja/ha-glocaltokens/issues/36) Because when i run my script manually it works great. A big thumbs up to @ArnyminerZ  for the great job. But in HA it returns `ip=None` and `port=None`.

[2021-02-18 16:27] DurgNomis-drol commented on #27
See [here](https://github.com/leikoilja/glocaltokens/issues/28#issuecomment-781466485)

[2021-02-18 16:57] DurgNomis-drol commented on #27
[Here](https://github.com/home-assistant/core/tree/dev/homeassistant/components/zeroconf) is what we should use instead. Do you wanna take a look @ArnyminerZ  at it and then we can work togther to make it work with HA? Maybe pass boolean or something to glocaltokens?

[2021-02-18 17:13] ArnyminerZ commented on #27
I will take a look at it once I finish my current PR at `glocaltokens`

[2021-02-18 18:25] leikoilja commented on #28
Sweet! Closing this issue here and if the problem is related to HomeAssistant, let's move it to `ha-glocaltokens` repo.

[2021-02-18 18:25] #28 closed

[2021-02-18 18:28] leikoilja commented on #27
@DurgNomis-drol, we already have a boolean in `glocaltokens`. I will create a PR in `ha-glocaltokens` to not use autodiscovery for now, so we could implement `zeroconf` on HA side

[2021-02-18 21:26] ArnyminerZ commented on #27
Yeah, the discovery right now can be disabled through `disable_discovery=True`, but still it might be inconvenient to keep importing the library. I was thinking maybe something like an environment variable which disabled `zeroconf` completely?

[2021-02-19 06:52] leikoilja commented on #27
@ArnyminerZ we could do so, but it might be confusing for some ppl. I have seen conditional python importing, we can simply use that as well i guess, can we not?
Like
[code]

[2021-02-19 09:43] ArnyminerZ commented on #27
Yeah, that was what I was thinking about, but where do we get that `disable_discovery` should we import `zeroconf` from inside the function? That was what I was meaning with the environment variables.

[2021-02-19 09:52] leikoilja commented on #27
disable_discovery is going to come from HA integration, isnt it? Something like `devices = client.get_google_devices(disable_discovery=True)`. And then `zeroconf` is imported inside the function (as mentioned above)

[2021-02-19 09:54] ArnyminerZ commented on #27
Ok, I guess that should work, will try to implement it today.

[2021-02-19 09:57] ArnyminerZ commented on #23
Closed by #31

[2021-02-19 09:57] #23 closed

[2021-02-19 13:11] #27 closed

[2021-03-02 03:34] leikoilja commented on #11
Happy to announce, this should be fixed now for the latest HomeAssistent versions! 💥
See [this thread](https://github.com/leikoilja/ha-google-home/discussions/23#discussioncomment-420354) for more information!

[2021-03-02 03:34] #11 closed

[2021-03-02 10:48] ollioddi opened #35 "[aiohttp.server] Error handling request"
Fantastic work guys!

I have tried installing the latest version and it went fine on hacs until i tried to enter my app password.

Since i'm using 2fa, i need to use the app password. When entering and saving, the following error is displayed.

Any suggestions on what i can do to fix?

2021-03-02 11:37:48 ERROR (MainThread) [aiohttp.server] Error handling request
Traceback (most recent call last):

[2021-03-02 11:01] DurgNomis-drol commented on #35
Have you updated both glocaltokens and ha-google home to latest version?

This is still a beta, maybe alpha, and it is not ready for primetime yet, but will be very soon 😊

[2021-03-02 11:18] ollioddi commented on #35
@DurgNomis-drol I added https://github.com/leikoilja/ha-google-home as a repository in HACS. Shouldnt this be the latest version?

And yes, i realize it is in very early stages but i would like to help test it, fully aware that there is bugs.

[2021-03-02 11:24] DurgNomis-drol commented on #35
@leikoilja Is the HACS repository updated to the newest version?

Right now, it doesn't not work correctly because of a bug with zeroconf we haven't fixed yet

But we are glad that you want to test it and try it out 😊

[2021-03-02 11:46] leikoilja commented on #35
Hey hey, gentlemen.

When adding to HACS as custom repo you can select the version. If you select 'master' it will be the latest version we are working on.
Unfortunately there is a lot more to do before 'master' even works. It's broken right now, but I m working on it and once the 'master' is fixed, we ll keep it as a bare minimum working, having all development in 'dev' branch.

Just a few more d

[2021-03-02 11:54] ollioddi commented on #35
Awesome!

Thats what i thought, i tried both versions but as you say, the master is broken at the momemt.

I am keeping my eye on the project :)

This really is fantastic work! Wish i could contribute but it is far beyond my knowledge

[2021-03-02 12:08] leikoilja commented on #35
You can always join, once you are up for a challenge, @ollioddi 💥 We have some smaller tasks like writing unit tests that might be interesting. It's not very straight forward, because it should follow HA flow and testing patterns, but a good think is that there are dozens of similar integration where unit testing is already done and we can almost copy/paste refactoring and fitting to our integrati

[2021-03-05 05:58] leikoilja opened #36 "Authentication error after ~22h of usage"
**Describe the bug**
Left the `Google Home` HA integration for 24h and after the time has passed I have discovered that integration fails to fetch data due to authentication error.
![image](https://user-images.githubusercontent.com/10655107/110073161-35b05800-7d7f-11eb-9fba-d15e950d73b8.png)

While this should not happen and tokens must be automatically refreshed by `glocaltokens` library. I am af

[2021-03-05 06:05] leikoilja commented on #36
And fully restarting my host(RPi) has force refreshed tokens and it all makes smooth after

[2021-03-05 06:32] DurgNomis-drol commented on #36
I can confirm the same problem, but it happened for me only about 11 hours later. At about 3.20 (am) at night

[2021-03-05 06:37] leikoilja commented on #36
Good, happy I', not the only one 😄 @DurgNomis-drol, how did you figure out it happened about 3.20am?
I am wondering if the token is expiring **after** a certain time or **at** a certain time. Like it lives 24h for example or it expires at 3am everyday sort of thing 😄 🤔

[2021-03-05 06:44] DurgNomis-drol commented on #36
I check HA logs and could see that the error `Failed to fetch Køkken data, API returned 401: <ClientResponse(https://192.168.0.205:8443/setup/assistant/alarms) [401 Unauthorized]> <CIMultiDictProxy('Access-Control-Allow-Headers': 'Content-Type', 'Cache-Control': 'no-cache', 'Content-Length': '0')>` first occurred at that time.

My guess is it is at a more or less specific time every night

Could w

[2021-03-05 07:13] leikoilja commented on #36
I was thinking of the same, @DurgNomis-drol, but in theory, it should not be `ha-google-home`'s task to care about tokens and authentication. I think we need to adjust `glocaltokens` to fetch tokens in a proper manner/timing to eliminate the issue. And only then, as extra precautions, we can add logic to `ha-google-home` to force reload tokens if 401 response is got :)

[2021-03-05 07:28] DurgNomis-drol commented on #36
I agree, fixing it in `glocaltokens` will also fix it for other applications that uses it. :)

[2021-03-05 07:30] DurgNomis-drol commented on #35
@ollioddi  We are ready for you to test it if you are up for the task 😄

[2021-03-05 07:33] leikoilja commented on #35
Gentlemen, i ll close this issue, cause it's not an issue anymore 😄
@ollioddi, please check https://github.com/leikoilja/ha-google-home for some early testings 💥

[2021-03-05 07:33] #35 closed

[2021-03-05 09:12] ArnyminerZ commented on #36
The issue here is that we don't really know for how much time are the tokens valid, or even if it's a fixed amount of time, o they get invalidated once a day at a specific time.
The thing with time validation was a temporal patch, for waiting until the error, and catching it, for generating a new one. I can try to work with this now

[2021-03-05 09:20] DurgNomis-drol commented on #36
From [https://rithvikvibhu.github.io/GHLocalApi/](https://rithvikvibhu.github.io/GHLocalApi/#section/Google-Home-Local-API/Getting-Started)

[code]

I think it is the last thing that gets us. We should as @ArnyminerZ describes it, catch the error when it happens as google does not include a `token expires ` attribute when getting the local auth token from homegraph

[2021-03-05 09:21] ArnyminerZ commented on #36
Yeah, got that 1 day duration from there, but it's said there aprox 1 day, so I was not so confident about it. It was just a matter of time that it fails. I'm taking a look at error handling for grpc.

[2021-03-05 09:23] DurgNomis-drol commented on #36
Should we test if the token works before passing it on in `glocaltokens`?

[2021-03-05 09:24] ArnyminerZ commented on #36
Found [this](https://stackoverflow.com/a/64578855/5717211). Maybe we can just:
[code]

[2021-03-05 09:29] leikoilja commented on #36
That's brilliant, @ArnyminerZ! 👍  Thanks for picking it up 💥

[2021-03-05 09:29] DurgNomis-drol commented on #36
Maybe i'm not understanding this correctly but the error occurs in ha-google-home when it tries to fetch the data from the device. And this wont help with that unless we change something in ha-google-home to make it retrieve a new token.

As far as i know, grpc does not throw an error, because it does not know that the tokens is not valid

Please correct me if i'm wrong

[2021-03-05 09:30] ArnyminerZ commented on #36
It does indeed return an error, the [401 http error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401). This error is returned by the server, who does know that the token is not valid, so it doesn't send us any data. That's what we have to handle.

[2021-03-05 09:33] DurgNomis-drol commented on #36
The request to the end device is not made through grpc but using a requests module and a simple GET request? (In ha-google-home) And yes there it returns 401 if it is not valid

[2021-03-05 09:33] leikoilja commented on #36
uuu, I actually don't know who is returning 401 for us. 🤔
It might be call to `grpc`(in glocaltokens) or `session.get`(in ha-google-home).
But either way i think we should have a check for both 😄

[2021-03-05 09:35] DurgNomis-drol commented on #36
See my edit above and i agree with @leikoilja that we should make sure that we also handle it in `ha-google-home`

[2021-03-05 09:42] ArnyminerZ commented on #36
Ok, now I've got it done well. I made a mess with unpushed commits 😅

[2021-03-05 09:52] leikoilja commented on #36
Consider scenario:
- We call `GetHomeGraph` - it returns valid object that we "cache" for 24h.
- We extract our google devices (with local auth tokens) from homegraph and populate with IP addresses through zeroconf
- We give out that data to ha-google-home
- ha-google-home makes API call using those local auth tokens coming all the way from "cached" homegraph
- Google Home might return 401 because

[2021-03-05 10:23] DurgNomis-drol commented on #36
Homegraph will always contain the correct local_auth_token, so @ArnyminerZ fix should fix it for now. I was just  getting confused about it. But there may be other bugs we have not consider yet 😄

[2021-03-05 10:36] leikoilja commented on #36
Hmmm, not sooo sure about it...
1. We call to get `get_google_devices` in ha-google-home
2. It fetches homegraph - all good and up to date at this point. But after fetching it we "cache" it in `self.homegraph = response` for 24h (See [here](https://github.com/leikoilja/glocaltokens/blob/e8642ac2812749681262dc6cc6ca6b40f1952099/glocaltokens/client.py#L207))
3. So within the next 24 hours every time

[2021-03-05 10:40] DurgNomis-drol commented on #36
No you are right about that, it should probably just be removed, same with:

[code]

[2021-03-05 10:55] leikoilja commented on #36
No no, i think both of them are great to be there, otherwise we would spam google servers everytime we need data. I think what @ArnyminerZ has just implemented in #37 is catering for when access token is old, but our ACCESS_TOKEN_DURATION is too long.
I propose we:
- Keep the time checks - "caching"
- Add `force_homegraph_reload` which will bypass timecheck for homegraph
- Decrease our caching tim

[2021-03-05 14:28] ArnyminerZ commented on #36
Yeah, implementing `force_homegraph_reload` could be a smart feature.
Reducing the timeouts is just adjusting a constant, so it wouldn't be an issue. But still, the hypothesis that the reload takes places at a specific time is still there or has been discarded?

[2021-03-05 14:32] ArnyminerZ commented on #36
Added to #37 both `invalidate_access_token` and `invalidate_homegraph`. They just reset the "cache" of the token and data, and invalidates the last update variable. This should be enough, simply the next time a fetch is tried, it would be like it's the first time.

[2021-03-05 14:39] leikoilja commented on #36
To be honest, i have never seen tokens being invalidated at a specific time in the day. All the tokens I have worked with are all time-issued for a certain time. I believe we should still have it in the back of our minds, but it would be very hard to find that time when it resets them. Thank you for awesome invalidate methods, @ArnyminerZ. If you agree, let's add `force_homegraph_reload` argument

[2021-03-05 15:14] ArnyminerZ commented on #36
Take a look at it in #37 😉

[2021-03-05 15:50] #36 closed

[2021-03-08 10:29] ollioddi commented on #35
Hi @leikoilja that sounds amazing.

I am unfortunately still experiencing this issue as mentioned above. Any idea as to why this error occurs?

It should be mentioned that i have recently had network issues with HA reaching my google devices. It should be fixed and i can control them from HA without issues. It just seems like a network error.

[2021-03-08 10:45] DurgNomis-drol commented on #35
@ollioddi Make sure that you are using the latest master. It says it cannot find _get_android_id. That is because it was renamed some time ago in glocaltokens. Make sure that glocaltokens is updated to the latest version.

I have had problems with HA not updating dependencies for custom components before(I don't know why). You can check what version of glocaltokens you have installed by running `p

[2021-03-08 10:59] leikoilja commented on #35
@ollioddi just as @DurgNomis-drol  has a mentioned, suggest you delete the integration you have installed now and the follow README file to reinstall it selecting 'Master' version.

Try it out and keep us updated :)

[2021-03-08 12:37] ollioddi commented on #35
HI @leikoilja it worked uninstalling it and installing again.

I had already done this multiple times and completely re-added in HACS so i dont know exactly why it didn't work earlier. I can now successfully see one of my devices which is amazing.

I have another device, a Lenovo Smart Clock which is not auto discovered for some reason. Is there a way to manually add? It has a static ip address.

[2021-03-08 12:53] leikoilja commented on #35
@DurgNomis-drol has just did some amazing job adding lenovo smart clock support at https://github.com/leikoilja/ha-google-home/pull/70

[2021-03-08 13:03] ollioddi commented on #35
Awesome guys. No inconvenience at all, just really happy to see this taking shape.

Thanks @DurgNomis-drol for adding the clock! Greatly appreciated.

[2021-03-08 13:27] DurgNomis-drol commented on #35
@ollioddi No problem! 😄

Good to hear it works!

[2021-03-08 15:57] samapriya opened #40 "Unable to install v0.2.4 on Windows but v0.2.3 works"
**Windows 10 Installation issue**
While I am able to install and use glocaltokens==0.2.3 on my machine v 0.2.4 is giving me the following error.

Setup details:
**Python 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)] on win32**

[code]
I was able to install pycryptodomex based on instructions on their page and I am running v0.2.3 in the meantime.

[2021-03-08 16:00] DurgNomis-drol commented on #40
What is your installation method for Windows? VM?

[2021-03-08 16:05] DurgNomis-drol commented on #40
@leikoilja It seems to relate to this problem [here](https://stackoverflow.com/a/9233174)

[2021-03-08 16:12] leikoilja commented on #40
Ou.... that's a very particular issue 🤔
I currently only have mac os / Linux to play with, but would any of you guys @samapriya or @DurgNomis-drol be interested in digging a bit more how we can read from the HISTORY file having it encoding compatible?

[code]

[2021-03-08 16:14] DurgNomis-drol commented on #40
@leikoilja Is the HISTORY.md file encoded in `utf8`?

[2021-03-08 16:17] KapJI commented on #40
@DurgNomis-drol yes, it has emojis :)

[2021-03-08 16:20] DurgNomis-drol commented on #40
@KapJI Ah thanks, didn't know that 😄

A simple fix would be this:

[code]

[2021-03-08 16:22] KapJI commented on #40
@leikoilja btw, history is also missing some recent versions

[2021-03-08 16:24] leikoilja commented on #40
I m wondering if it's even worth keeping. Does anyone know how to omit it reusing release notes instead on pypi? 😅🤷‍♂️🤔
The history file seems only to be used in pypi, so if it's possible to drop it, we should do it 😅

[2021-03-08 16:26] DurgNomis-drol commented on #40
I will just wait to open a PR if you decide to just delete it 😄

[2021-03-08 16:35] samapriya commented on #40
Thank you all I love the community support here, also wondering if a CI using github workflows would be useful to check for different OS and python versions. @leikoilja  Adding a gist here
https://gist.github.com/samapriya/1c3256629597251e2ca2efabfea35280

@leikoilja I am using this for a [Google Home tool here](https://github.com/samapriya/ghome), for now I fixed the requirements to be 0.2.3. Hap

[2021-03-08 16:40] leikoilja commented on #40
That sounds like a great cli tool to come! 💥🤩

@samapriya, that's a great suggestion, feel free to open a PR here with your gist, it will be easier to merge 😂

In a meanwhile I'll do some reading if we need the history file at all and if not, we ll just drop  it :)

[2021-03-08 16:50] samapriya commented on #40
Thanks @leikoilja
Created the PR with branck glocaltokens-ci :)

[2021-03-08 16:59] KapJI commented on #40
I think it can be dropped from pypi and kept only on github releases. Poetry for example doesn't provide instruments to set history for pypi at all. Will be easier to maintain.

[2021-03-09 07:41] #40 closed

[2021-03-12 14:00] leikoilja opened #43 "Setting up poetry dependancy management and packaging tool"
We need to setup `poetry` to manage the package.

- [ ] set up pre commit hooks for `mypy`
- [ ] set up CI job for `mypy`

[2021-03-13 07:04] leikoilja opened #44 "Do not initialise Devices with invalid `local_auth_token`"
**Describe the bug**
When we get a fresh `homegraph` we iterate through devices creating new instances `Device` [ref](https://github.com/leikoilja/glocaltokens/blob/e6fa89793bc72c84b3b61f99c371fdb6d7ba8c2f/glocaltokens/client.py#L271) for each of discovered devices. In the `Device` initialization `__init__` we do the validation for `local_auth_token`, however, if the validation fails we still retu

[2021-03-13 07:04] leikoilja commented on #44
@ArnyminerZ would you be interested in helping out with this one? :)

[2021-03-13 09:11] ArnyminerZ commented on #44
Ok, working on it in 30 mins aprox

[2021-03-13 16:33] philippefs35 commented on #44
Thank you for your help @leikoilja @ArnyminerZ

Played a bit with the `glocaltokens` package and my best guess is my issue (see [here](https://github.com/leikoilja/ha-google-home/issues/91)) spans from my Nest Wifi router, for which the `local_auth_token` is in a slightly different format (switched a few characters in the tokens below, but format is the same):

item.hardware: model: "MISTRAL"
item

[2021-03-15 10:23] #44 closed

[2021-03-15 10:48] leikoilja commented on #44
Thank you, @philippefs35 for spotting it. We have now merged the fix(#45) for the bug you were having, so after a new release of `glocaltokens` comes out it will not recognize non google home devices that have a token of a different format than expected. :)

[2021-03-21 10:33] DurgNomis-drol opened #46 "`Castlistner` should implement `remove_service`"
**Describe the bug**

[code]

See this link [Homeassistant/core#48117](https://github.com/home-assistant/core/issues/48117)

**To Reproduce**

Appears first time i restart, but only once.

**Expected behavior**
A clear and concise description of what you expected to happen.

No error message.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add

[2021-03-21 20:17] ArnyminerZ opened #47 "Add more logging"
There should be a pretty exhaustive debug log in the library, just in case something fails, it's easier to find where it's broken, and find a solution.

[2021-03-21 20:59] DurgNomis-drol commented on #47
I will take a look at it tomorrow if you haven't 😄 @ArnyminerZ  Just ping me when needed

[2021-03-22 06:44] leikoilja commented on #46
Really good find, thank you, @DurgNomis-drol 💥

[2021-03-22 06:48] KapJI commented on #46
I'd say it's more a bugfix rather that feature :)

[2021-03-22 07:08] leikoilja commented on #46
Uuu, you are right, @KapJI, thanks :)

[2021-03-24 20:36] #47 closed

[2021-03-25 08:35] KapJI commented on #43
I think you also need to remove `MANIFEST.in`. Poetry doesn't use it and google foyer files seem to be already included in the package.

[2021-03-25 18:25] #43 closed

[2021-03-26 12:02] KapJI opened #51 "Release 0.2.7"
Can you release new version with typing information? I can use it in `ha-google-home` then.

[2021-03-26 12:05] leikoilja commented on #51
Done. When using on `ha-google-home` please update `glocaltokens==0.2.7` ;)

[2021-03-26 12:05] #51 closed

[2021-04-02 14:23] #46 closed

[2021-04-07 09:53] leikoilja opened #65 "Improve android id generation"
Improve how we generate android id and double check what is the required length.

See https://github.com/leikoilja/glocaltokens/pull/56#discussion_r608499319

[2021-04-07 09:54] leikoilja opened #66 "Move pylint exclude to pyproject"
Let's move pylint exclude from precommits to pyproject.toml

See https://github.com/leikoilja/glocaltokens/pull/56#discussion_r608507433

[2021-04-11 19:16] #66 closed

[2021-04-13 13:50] leikoilja opened #75 "Device unique id parameter"
Let's find a way to extract a unique ID from homegraph or `eureka` endpoint to pass it for each of devices

[2021-04-14 12:13] KapJI opened #81 "Remove old branches"
**Describe the bug**
This repo has many stale branches which need to be removed.
<img width="1267" alt="Screenshot 2021-04-14 at 13 13 20" src="https://user-images.githubusercontent.com/3767331/114708396-31cf0880-9d23-11eb-8367-432782efe364.png">

Probably this setting is not enabled in this repo: https://docs.github.com/en/github/administering-a-repository/managing-the-automatic-deletion-of-branc

[2021-04-14 12:17] leikoilja commented on #81
Hmmm, but it is
![image](https://user-images.githubusercontent.com/10655107/114708805-203e2e80-9d2c-11eb-8099-c0ceb05cf219.png)

I'm wondering if github is behaving here...

[2021-04-14 12:18] leikoilja commented on #81
If i try removing them manually it says
![image](https://user-images.githubusercontent.com/10655107/114708984-54195400-9d2c-11eb-975b-6a9af5e72512.png)

[2021-04-14 12:20] KapJI commented on #81
Maybe there is some branch protection rule set?
https://docs.github.com/en/enterprise-server@2.21/github/administering-a-repository/managing-a-branch-protection-rule

[2021-04-14 12:22] leikoilja commented on #81
haha, yep!

[2021-04-14 12:23] KapJI commented on #81
Also it's nice to enable `linear history` and `require linting job to pass` there 🙂

[2021-04-14 12:23] leikoilja commented on #81
also just discovered and fixed it, wanted to let you know but saw your comment. Should be good now, thanks for bringing it up for attention, it was indeed a branch protection rule that was badly set. Now it's the same as in `ha-google-home` with encourced checl

[2021-04-14 12:23] #81 closed

[2021-04-15 14:32] #65 closed

[2021-04-16 09:30] KapJI opened #88 "Setup automatic release flow"
The plan is to setup action which runs when release in published which will build and upload new package to PyPI. Like here:
https://nicholasnadeau.me/post/2020/8/one-version-to-rule-them-all-keeping-your-python-package-version-number-in-sync-with-git-and-poetry/

The version should be inferred automatically from the latest tag.

@leikoilja can you add `PYPI_TOKEN` to github secrets? Set scope to

[2021-04-19 08:31] leikoilja commented on #88
Just added `repository secret` called `PYPI_TOKEN` ✅

[2021-04-19 08:33] #88 closed

[2021-04-19 08:45] KapJI commented on #88
Yay! It works 😀
https://github.com/leikoilja/glocaltokens/runs/2379078382

[2021-04-19 08:50] leikoilja commented on #88
THIS is incredible! 😍  Big thanks

[2021-06-06 16:03] ArnyminerZ commented on #75
I was taking a look at [GHLAPI](https://rithvikvibhu.github.io/GHLocalApi/#operation/EurekaInfo) to see which element would fit our needs. And I think the best options are:
* `cloud_device_id`: which may not be the best option, since it seems a pretty private ID, so a copy-paste from the log may show up this info.
* `public_key`: may be a good option, states that it's public, so there won't be any

[2021-06-07 12:19] KapJI commented on #75
`cloud_device_id` sounds good.

[2021-06-07 13:41] leikoilja commented on #75
Good investigation, @ArnyminerZ 🙌
`AppDeviceID` does not seem to be unique thou.
Seems like both `cloud_device_id` and `mac_address` are present in `eureka` endpoint, so both seems to be legitimate options. I am in favour of `mac_address` thou.

[2021-08-14 07:29] #75 closed

[2021-08-27 19:37] qsig-a opened #152 "Can't install on Home Assistant Container 2021.8.8"
**Describe the bug**
Can't install ha-googlehome due to glocaltokens issue.

**To Reproduce**
Steps to reproduce the behavior:

1. Install HA Container 2021.8.8
2. Install gcc and c++ container through `apk add`
3. Install grpcio-tools manually
4. Install glocaltokens manually

**Expected behavior**
glocaltokens to install properly

**Additional context**
Seems like the libraries that HA has alrea

[2021-08-27 20:11] #152 closed, assigned to nobody

[2021-09-17 06:40] leikoilja opened #168 "Support authentication with only master token"
**Is your feature request related to a problem? Please describe.**
We should be able to support master token authentication alone for those clients that are not willing to provide their google user and password credentials. See here - https://github.com/leikoilja/ha-google-home/issues/124#issuecomment-921531375

**Describe the solution you'd like**
Feeding just `master_token` to the client should

[2021-09-17 13:05] KapJI commented on #168
Apart from the implementation we need some instructions how to get this master token in the first place.

[2021-10-11 12:57] leikoilja opened #180 "Do not log error for device auth token assertion"
**Describe the bug**
We have an issue with confusing log error entries for Google Home WiFi devices when auth token is not matching the expected pattern. We skip adding these devices to the list of google devices, but the error entry must be logged as warning or a debug. See https://github.com/leikoilja/ha-google-home/issues/348

[2021-10-12 11:06] #180 closed, assigned to leikoilja

[2021-10-13 12:05] ArnyminerZ opened #183 "Limit device discovery by Homes"
**Is your feature request related to a problem? Please describe.**
When multiple homes exist in the Google Home app, this integration discovers devices from all connected homes.

**Describe the solution you'd like**
Ability to limit google device discovery to a particular home if desired.

**Additional context**
Related to leikoilja/ha-google-home#363

[2021-10-13 12:07] ArnyminerZ commented on #183
Not sure where to get the home that the device is in from, but some documentation is at [`Device`](https://developers.google.com/assistant/smarthome/reference/rpc/google.home.graph.v1#google.home.graph.v1.Device) or [`QueryResponse`](https://developers.google.com/assistant/smarthome/reference/rpc/google.home.graph.v1#queryresponse)

[2021-10-13 22:16] ArnyminerZ commented on #183
Just for reference. By using the following script I was able to fetch the Homegraph API response for my Google Account:
[code]
An example of a Google Device is:
[code]
However, it's strange, since this device, even though it has been configured in my first home, the home name shown in the Homegraph API is the one from my second home, so something is wrong around here. Some deeper investigation nee

[2021-10-14 10:37] ArnyminerZ commented on #183
Okey, after some investigation on the REST API I have found that Google recommends using one of their "per-language" SDKs, so in our case it'd be the Python's SDK, which can be found [here](https://googleapis.github.io/google-api-python-client/docs/). And we can use the [`sync`](https://googleapis.github.io/google-api-python-client/docs/dyn/homegraph_v1.devices.html#sync) method to get the same de

[2021-10-14 11:04] ArnyminerZ commented on #183
Okey, I found a way that might be the one to go on over authorisation, however, it seems to have issues with Homegraph API authorisation. As far as I have found out, it seems like the Homegraph API is like a restricted one, so when you ask the user for permission the following error gets returned:

The code that I'm using is:
[code]
Will keep researching on how to fix this, or ask the user for aut

[2021-10-17 07:03] leikoilja commented on #183
Those are some amazing findings and progress, @ArnyminerZ 🚀
I m just wondering if the `token`s are the same between getting them this way through Google Cloud Platform and the legacy way as we currently do it? Could it be possible to get the tokens as we do now (without the need to create a new project at google cloud) and use those tokens to call REST API? 🤔

[2021-11-28 07:08] rithvikvibhu commented on #183
Haven't tried it yet, but it looks like the official homegraph API (REST or RPC) is different from the one used by the app.

@ArnyminerZ's links:
REST: [`https://homegraph.googleapis.com/v1/`](https://developers.google.com/assistant/smarthome/reference/rest)
RPC: [`google.home.graph.v1.HomeGraphApiService`](https://developers.google.com/assistant/smarthome/reference/rpc)

Unofficial one used by GH

[2021-11-29 13:16] ArnyminerZ commented on #183
Yeah, I understand, so we should keep using the same API 😄

[2021-12-04 17:40] KapJI commented on #168
To be honest, I doubt this is really useful. Master token has the same power as login/password and to obtain it, you still need to use your credentials on some service. The real solution here is using separate service account which has access to the Home.

[2021-12-04 17:40] #168 closed

[2021-12-09 16:00] bwees opened #205 "App Password Errors"
I am trying to retrieve the master token as found in your examples. I have put the part before "@gmail.com" in for the username and an app password for my password (I have 2FA on). I get the following error:
[code]
I have tried numerous other token retrieval methods including the gist found here: https://rithvikvibhu.github.io/GHLocalApi. Is there some setting I need to update in my google account

[2021-12-09 16:25] KapJI commented on #205
Have you tried using full address as a login?

[2021-12-13 05:05] egburr commented on #205
I also am having this same problem using the script in the "security recommendation" section of the readme.
My google account does have 2FA enabled, and I have setup an app password to use.
I have tried using just my username and my full email (username@gmail.com). In both cases, I get the exact same error:

 # python3 ./gh_test.py
ERROR:glocaltokens.client:[!] Could not get master token.
[*] Mast

[2021-12-13 13:11] KapJI commented on #205
Are you using this script? https://gist.github.com/rithvikvibhu/952f83ea656c6782fbd0f1645059055d
Can you add `print(res)` after line 26?

[2021-12-13 15:31] egburr commented on #205
I had tried that first, since that was what I was going for. Changing line 18 to DEBUG=True  enables the print(res) on line 24, and I get:

[code]

[2021-12-13 15:41] egburr commented on #205
[code]

[2021-12-13 15:47] KapJI commented on #205
It could be related to list of used cyphers:
https://github.com/simon-weber/gpsoauth/blob/master/gpsoauth/__init__.py#L30-L45
Maybe something is wrong with ssl on your system.

[2021-12-13 16:08] egburr commented on #205
Okay, it looks like you're getting that from gpsoauth version 1.0.0 ? And while I find other references to version 1.0.0, on my CentOS Stream 8 system, pip can only find 0.4.3 as the latest:
[code]

[2021-12-13 17:05] KapJI commented on #205
It should be able to find 1.0.0 if you have python3.8+
https://pypi.org/project/gpsoauth/

[2021-12-15 17:02] MattiaCC93 opened #206 "Google devices local authentication tokens are empty!"
Google devices local authentication tokens are empty!
Master Token and Access Token are OK.
I simply launched the script using python3.

![image](https://user-images.githubusercontent.com/38031049/146231003-2bebf1b6-b92a-4c5b-919c-d6cb543bc1d5.png)

Thanks.

[2021-12-23 17:33] falldeaf opened #207 "Can't get client.get_google_devices_json to work with master_token instead of password"
**Describe the bug**
Using a client without password doesn't seem to work even though I've previously retrieved a master token and supplied it to the client. I'm getting an error that it can't find the master token, still, and it's still looking for the username and password.

DEBUG:glocaltokens.client:Initializing new GLocalAuthenticationTokens instance.
DEBUG:glocaltokens.client:Set GLocalAuthen

[2021-12-31 20:38] falldeaf commented on #207
Solved this one, username and password variables must be listed in the client object with their values set to: "None" like this:

client = GLocalAuthenticationTokens(
username="None",
master_token="aas_et/mastertokenhere",
password="None"
)

[2022-01-03 06:27] leikoilja commented on #207
Nice, happy you found a workaround, @falldeaf.
I will reopen the issue since the behaviour you are explaining is not right.
You are passing strings `None` to the client for both username and password and the client prioritise authentication using `master_token`. This needs to be checked and fixed if so

[2022-01-03 08:01] leikoilja commented on #206
@MattiaCC93, it seems to me that there are no google devices found in the HomeGraph. Do you have any devices added to your Google Home and available to the account you are trying to connect to?
P.S. Also I hope you are aware to never post screenshoots of your tokens since by having seen your full master token one have FULL access to your entire google account.

[2022-01-03 13:17] falldeaf commented on #206
Oh no, I didn't realize my master token was in there, I'm an idiot. I
thought I'd scrubbed it. Would it be possible to remove it from this page?
Sorry about that 😑

On Mon, Jan 3, 2022, 3:01 AM Ilja Leiko ***@***.***> wrote:

[2022-02-24 10:05] piio opened #218 "Error with installing package glocaltokens==0.6.2 after upgrade to HA 2022.3.0b0"
**Describe the bug**
After upgrade HA to 2022.3.0b0 in logs I see error with installing package glocaltokens connected to https://github.com/pypa/pip/issues/10825

2022-02-24 07:42:45 ERROR (SyncWorker_6) [homeassistant.util.package] Unable to install package glocaltokens==0.6.2: warning: missing-index-doctype

× The package index page being used does not have a proper HTML doctype declaration.
╰─

[2022-02-25 08:01] leikoilja commented on #218
Fixed and released in Google Home HA integration [v1.9.8](https://github.com/leikoilja/ha-google-home/releases/tag/v1.9.8) 💥

[2022-04-04 11:07] ArnyminerZ opened #229 "Long passwords cause login issues"
**Describe the bug**
When long passwords are used (100+ characters), which are [not supported by Google](https://support.google.com/a/answer/139399), an issue is thrown. More info in leikoilja/ha-google-home#430

**Partial logs:**
[code]

**Possible solution:**
Add a try-catch to [/glocaltokens/client.py#L220](https://github.com/leikoilja/glocaltokens/blob/master/glocaltokens/client.py#L220) which

[2022-04-06 15:04] ArnyminerZ commented on #229
Check suggestions on tests at #231, not sure if they are useful the way I have written them. Maybe something like trying to input a 100+ chars password, would be better, but not sure if it's possible right now.

[2022-04-11 09:42] #229 closed

[2022-05-19 18:58] ArnyminerZ opened #245 "Can't connect to Google home addon - Could not get master token"
Hello,

I have read the other issues with the same error than mine, but I couldn't resolve it.

I use the Google Home addon of Home Assistant, but the connection is refused.
I've tried to take off the protection methods to my google account too.

Here the log :
[code]

**Edit**: Of course, no pop-up opens.

[2022-05-19 18:59] ArnyminerZ commented on #245
Test performed with the example code, to check at basis if `glocaltokens` is still working. However, I'm getting the following error:
[code]
Any ideas @leikoilja 🤔

[2022-05-25 19:20] casper255 commented on #245
It's the same for me

Logger: custom_components.google_home
Source: custom_components/google_home/config_flow.py:99
Integration: google_home (documentation, issues)
First occurred: 21:05:56 (1 occurrences)
Last logged: 21:05:56

Logger: glocaltokens.client
Source: /usr/local/lib/python3.9/site-packages/glocaltokens/client.py:224
First occurred: 21:05:56 (1 occurrences)
Last logged: 21:05:56

[!] C

[2022-05-25 21:52] bjarnekrottje commented on #245
Same error for me.

UI Setup error:
![image](https://user-images.githubusercontent.com/46538710/170373282-8c417848-fbf6-41f1-b676-763c56d06f2f.png)

Logs:
![image](https://user-images.githubusercontent.com/46538710/170373405-3fd7a2f4-eaff-4029-a297-30fcedfc34ad.png)
![image](https://user-images.githubusercontent.com/46538710/170373432-88ac1ac4-1575-43e9-99f4-44744446cc6a.png)

Is there a (temporar

[2022-05-26 04:20] tfrubio commented on #245
Same issue. If context helps, fresh/first install of HA/Google home addon today. Have ensured 2FA, SSL via Nabu Casa, using app password,  and unlocked captcha

[code]

[2022-05-26 07:28] zhangtemplar commented on #245
Same issue for me.

[2022-05-26 13:41] isntw commented on #245
same issue for me

[2022-05-26 19:26] srappan commented on #245
Encountering the same error too.
[code]

[2022-05-26 23:39] kyemacdonald commented on #245
Same as the others - requiring web browser to sign in.

[2022-05-27 02:26] Pronown commented on #245
I believe I am experiencing the same issue. I enabled the logger as instructed in the old issue. I wanted to try to help and tried to login to the url it provided in the log... unfortunately it just says "Please Wait". Hope this helps. Let me know if there is anything I should check or try. I don't have any of the integrations mentioned on the old issue.

Stupid Idea, what if I disable 2FA, login,

[2022-05-28 01:41] DirkTas67 commented on #245
I'm having also this problem, HA is installed on Truenas Scale as Truecharts app.

[2022-05-28 09:03] ArnyminerZ commented on #245
@Pronown yeah, I believe this is the issue. This was working before, so something has changed on Google's side of authentication. Right now I'm totally out of time, but I will try on a fix for this ASAP.

[2022-05-28 09:49] Pronown commented on #245
Hey, no rush, I just figured I'd offer any info I found. Extremely excited to expose these entities to my system. More sensors means more automations for me to dream up.

I tried forcing the "browser" integration to load the url provided in the logs, to see if that would do it, apparently I can't get browser to run at all, nothing happened when I used their direct example to get to Google. - I'm g

[2022-05-28 09:55] Pronown commented on #245
@DirkTas67
What is the difference in TrueNAS and Home Assistant? From what I just researched it's incomplete, but looks exactly like HA? There were a bunch of abbreviations I didn't understand though, so I'm kinda curious what this software does?

[2022-05-29 19:29] DirkTas67 commented on #245
@Pronown HomeAssistant is an app on the Truenas scale system, truenas scale is like a complete OS for NAS and has also apps, apps like Homeassistant, ESPHome, NodeRed, Mosquitto, Zigbee2mqtt..... and many many more

[2022-05-30 11:40] leikoilja commented on #245
**Update:**
Just as mentioned above - google has changed some stuff around authentication logic that breaks this package.

The work is going on around in the underlying package `gpsoauth` that we use in `glocaltokens`:
https://github.com/simon-weber/gpsoauth/issues/37#issuecomment-1140959576

We should spend all attention to fix it in `gpsoauth` first and once it's merged and deployed - we look ho

[2022-05-31 14:49] ArnyminerZ commented on #245
Just for reference, the issue has been adressed at simon-weber/gpsoauth#42, now we only have to wait until a new release is published, [@simon-weber](https://github.com/simon-weber) says it gonna be quick, so let's hope 🤞🏼

[2022-05-31 18:30] #245 closed

[2022-06-01 07:44] hugalafutro commented on #245
I just updated to 1.9.11, restarted HA, created new app password for my gmail address, tried to log in with it into integration and still get `[!] Could not get master token.`. Is there something more I need to do? Thanks!

[2022-06-01 08:39] DirkTas67 commented on #245
Thank you for the update; just installed the new version, restarted Homeassistant, installed the integration and added my gmail and app password and it works! Great!

[2022-06-01 08:45] hugalafutro commented on #245
@DirkTas67 Hi, did you have the integration uninstalled and then installed 1.9.11 or did you update? I'm trying to find a difference in the process as 1.9.11 still doesn't work for me (and presumably whoever upvoted my post @ [#528](https://github.com/leikoilja/ha-google-home/issues/528#issuecomment-1143237249))

[2022-06-01 09:05] srappan commented on #245
[code]

Same error with 1.9.11

[2022-06-01 09:31] dineshkathir commented on #245
`Logger: glocaltokens.client
Source: /usr/local/lib/python3.9/site-packages/glocaltokens/client.py:224
First occurred: 14:41:44 (3 occurrences)
Last logged: 14:44:54

[!] Could not get master token.`

Still the same error. Unable to log in.
I updated to the new version 1.9.11 and tried to reinstall the integration also.
I have tried both Desktop web and Android applications.

But still facing the

[2022-06-01 09:36] DirkTas67 commented on #245
@srappan Yes, at the desktop browser

[2022-06-01 09:37] DirkTas67 commented on #245
@hugalafutro No I just updated the integration

[2022-06-01 09:39] bjarnekrottje commented on #245
For me too the same error:
[code]
Both on desktop (Windows 11) and in the mobile app (Android 12).

[2022-06-01 09:45] Pronown commented on #245
Installed with updated with HACS via mobile- No go.
Uninstalled.
Reinstalled manually with file from here via destop - No go

2FA set:
Security Key
Email
Google Authenticator
Tap On Phone

[2022-06-01 10:21] leikoilja commented on #245
Opsies, sorry, gents...
Let's move back to `ha-google-home` issue thread [here](https://github.com/leikoilja/ha-google-home/issues/528), since `glocaltokens` is fixed and python SDK works just fine. Tested both yesterday and today using provided python `get_tokens` example and works just fine :)

[2022-06-23 00:24] aaronpowell opened #257 "Error when running sample: ModuleNotFoundError: No module named 'google'"
**Describe the bug**
I've followed the instructions in the README but when running it I receive the following error:

[code]

This is in an isolated environment with python 3.10.4 installed (I ran a fresh Docker image with only Python 3 in it).

Full terminal logs:

[code]

[2022-06-23 23:00] aaronpowell commented on #257
Done, but looks like a protobuf problem now:

[code]

[2022-06-24 05:12] aaronpowell commented on #257
Ok, downgraded `protobuf` with `pip install protobuf==3.19.4`

Is there a way to pin the dependency so it doesn't install too newer version?

[2022-06-24 05:35] aaronpowell opened #260 "403 when trying to get master token"
I'm trying to use the HA integration and came across the auth problem (https://github.com/leikoilja/ha-google-home/issues/528) so it was suggested I just try using the raw package.

When I run it with my credentials I get a 403 from the API calls:

[code]

The Python script I'm running is off the README for the repo, with the only change being I've put in my username/password.

I've tried with 2FA

[2022-06-25 19:59] #257 closed

[2022-06-25 20:02] KapJI commented on #257
@aaronpowell I released version 0.6.5 with a fix. Can you confirm that it works without installing `google-api-python-client` and downgrading `protobuf`?

[2022-06-25 20:14] KapJI commented on #260
It seems you're using python 3.10. Can you try with 3.9? Also what versions of `requests` and `urllib3` you have installed (you can find this using `pip freeze`)?

[2022-06-25 22:12] aaronpowell commented on #260
Fresh with python 3.9:

[code]

Here's the packages:

[code]

[2022-06-28 06:26] leikoilja commented on #260
@aaronpowell, seems like you are getting hit by 403 (permission denied) error, a bit of a silly question, but better safe then sorry: are you sure you credentials are valid? And when running `get_tokens` example, you are using just a username `user` in the example of `user@gmail.com`, not the full email address, right?

[2022-06-28 06:37] leikoilja commented on #260
@aaronpowell to completely resemble out test setup with dependencies can you please install using `poetry` as described in [contribution docs](https://github.com/leikoilja/glocaltokens/blob/master/CONTRIBUTING.md). Once you have poetry just run `poetry install` from project directory to create managed virtual env and install dependency packages exactly similar to ours. Note, you don't need to manu

[2022-06-28 09:55] aaronpowell commented on #260
I'm not using a gmail account for this Google account, I'm using a custom domain that I've created a Google account with. I know the creds are valid as I can login via the browser with them.

[2022-06-28 10:03] aaronpowell commented on #260
Do I need to clone the `glocaltokens` repo and set it up there?

[2022-06-28 10:43] KapJI commented on #260
Well, that's something. Can you try to create new google account and check if you can get master token for it? Basically you need to find any setup when it works so then you can triage the issue. It can be different machine, OS, network region, password length, etc. Then you can change one variable a time back to find what causes this.

Yes, clone the repo, install Poetry (`pip install poetry` sho

[2022-06-28 10:45] aaronpowell commented on #260
Do you want that added to the Google Home, or go 100% clean?

[2022-06-28 10:46] KapJI commented on #260
It doesn't matter, getting that master token only provides access to account itself, so it should work in all cases. But you can try both.

[2022-06-28 11:01] aaronpowell commented on #260
Dug up an old gmail account of mine and am able to get the master token for it. Can't add it to the Google Home (need to setup a phone linked to that account).

So I tried my wife's gmail account (which is in the Google Home) and it fails with the same reason my (non-gmail) account fails.

I'll try setting up poetry now.

[2022-06-28 11:07] aaronpowell commented on #260
[code]

[2022-06-28 11:12] KapJI commented on #260
That's some progress! So now you need to find what makes these accounts different.

Btw, I also have personal google account on dedicated domain. But I use separate gmail account which only has access to Google Home for this integration to not expose my personal account. Although I can still get master token for my personal account just fine both on Linux and Mac. It has 2fac enabled and I use app

[2022-06-28 11:15] aaronpowell commented on #260
My primary Google account is created with Google Apps and that causes a WORLD of problems with Google Home, so this one have a dedicated account, but under my domain.

The email address has a `+` in it, the one that owns the home.

[2022-06-28 11:21] aaronpowell commented on #260
I wonder if that's the problem. I just tried with my primary Google account (which is on the same custom domain) and it was able to retrieve the token.

Because it's on Google Apps I can't add it to this Google Home, so I'll try a non-`+` email.

[2022-06-28 11:25] KapJI commented on #260
Yep, that's a possible explanation.

[2022-06-28 11:36] KapJI commented on #260
This explains how to get extra logging from `requests`:
https://stackoverflow.com/questions/16337511/log-all-requests-from-the-python-requests-module

Fetching of master token is implemented here, you can probably modify that code and use `gpsoauth` directly (it also uses `poetry`):
https://github.com/simon-weber/gpsoauth/blob/master/gpsoauth/__init__.py#L91-L143

[2022-06-28 11:44] KapJI commented on #260
This is simple example of using `gpsoauth`:
[code]

[2022-06-28 11:48] KapJI commented on #260
Well, I remember that `+` is actually very special in email account. Basically if your account is `login+smth@gmail.com` then your actual account is `login@gmail.com` and `smth` will be ignored but can be used for adding labels on email, sorting them by folders, etc.

[2022-06-28 11:53] aaronpowell commented on #260
Yeah, I know that `+` is special, it was mostly me being lazy about setting up the account, rather than creating a full mailbox.

[code]

That's from the new script.

I'll create a complete mailbox and add it tomorrow then report back.

[2022-06-28 12:00] KapJI commented on #260
Have you tried using only actual part of the login? You shouldn't pass part with `+`. Basically it should be `login@domain.com` instead of `login+label@domain.com`.

[2022-06-30 17:12] KapJI commented on #260
@aaronpowell did you have change to try login without `+` part?

[2022-07-03 21:40] aaronpowell commented on #260
The non-`+` email is attached to a different Google Account, but it does work (meaning that a custom domain with Google Accounts is valid).

I'll try setting up yet another email and Google Account and add it to the home.

[2022-07-04 19:23] KapJI commented on #260
You don't have any accounts with `+`, they are different addresses which are delivered to the same account. To use it, you should strip part after `+` from login.

[2022-07-05 03:58] aaronpowell commented on #260
Stripping the `+` didn't do anything (going from `me+googlehome@...` to `megooglehome@...`) as the `+` really only impacts on my mail provider end.

But I did create a new Google account (`homeassistant@...`), attempted to get the token before adding it to the Home - that worked.

I then added it to the Home and ran the script again - it **still** worked, _and_ it's listing the Google Nest devices

[2022-07-05 09:37] KapJI commented on #260
It should be just `me@...`, not `me+googlehome@...` or `megooglehome@...`.

[2022-07-05 12:30] aaronpowell commented on #260
Not quite - I have a Google Account that uses the email `me@...` which is linked to a legacy Google Apps instance, so is technically a _work_ account as far as Google is concerned. That account can't be used with Google Home properly (it can own a Home but you can't add anyone else to the Home, which is a major limiting factor for family use), so I created an alias'ed email using `me+googlehome@..

[2022-07-05 13:31] KapJI commented on #260
So if I understand you correctly you have Google account `me+googlehome@...` which is registered to non-google email address? Surprisingly that seems possible, otherwise I don't see how to achieve this.

Because G Suite doesn't allow to create such account:
![Screenshot 2022-07-05 at 14 12 34](https://user-images.githubusercontent.com/3767331/177335867-c7778aa6-1e88-402e-afd4-94fcc9023237.png)

Wh

[2022-07-05 21:42] KapJI commented on #260
Awesome!

[2022-07-11 11:01] #260 closed

[2022-08-13 22:26] KaijuKira86 commented on #245
cant log in i have the most current version of everything and its a fresh install of google home integration.

`2022-08-13 18:13:12.964 ERROR (SyncWorker_3) [glocaltokens.client] [!] Could not get master token.
2022-08-13 18:13:12.974 ERROR (MainThread) [custom_components.google_home]
2022-08-13 18:13:34.122 ERROR (SyncWorker_4) [glocaltokens.client] [!] Could not get master token.
2022-08-13 18:1

[2022-08-15 06:49] leikoilja commented on #245
@KaijuKira86, since this issue got marked solved, please open a new issue and provide more details for us to be able to look into it